body {
    background-color: rgba(70, 69, 59, 0.521);
}

.grid {
    display: grid;
    padding: 5px;
    font-family: monospace;

}

header {
    background-color:  rgba(235, 235, 235, 0.815);
    border-radius: 10px;
    padding: 5px;
}

header li {
    font-family: monospace;
    display: inline;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
    float: right;
    margin: 2px;

}

header a {
    color: white;
    text-decoration: none;
    transition: font-size 100ms ease-in 50ms;

}

header a:link {
    color: white;
}

header a:hover {
    font-size: larger;
}

.banner {
    background-color: rgba(235, 235, 235, 0.815);
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    font-family: monospace;
}

.bio {
    padding: 10px;
    margin-top: 100px;
    display: flex;
}

.bio img {
    max-height: 500px;
    border-radius: 250px;
}

.biography {
    margin-top: 100px;
    margin-left: 100px;
    color: white;
    font-family: monospace;
}

.biography h3 {
    font-size: 20px;
    text-align: center;
    font-family: monospace;
    text-decoration: underline;
}

.projects {
    margin-top: 100px;
    margin-left: 300px;
}


.projects h3 {
    text-align: center;
    background-color: rgba(235, 235, 235, 0.815);
    width: 700px;
    padding: 40px;
    font-size: 30px;
    font-family: monospace;
    border-radius: 10px;

}

.projects ol {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 150px;
    line-height: 5pc;
}