body {
    background-color: rgba(70, 69, 59, 0.521);
}

.grid {
    display: grid;
    font-family: monospace;

}

header {
    background-color:  rgba(235, 235, 235, 0.815);
    border-radius: 10px;
    padding: 5px;
}

header li {
    font-family: monospace;
    display: inline;
    background-color: black;
    border-radius: 10px;
    box-shadow: 1px 2px;
    padding: 5px;
    float: right;
    margin: 2px;
    cursor: pointer;

}

header a {
    color: white;
    text-decoration: none;
    transition: font-size 100ms ease-in 50ms;

}

header a:link {
    color: white;
}

header a:hover {
    color: red;
}

header a:active {
    font-size: smaller;
}


.banner {
    background-color: rgba(235, 235, 235, 0.815);
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    font-family: monospace;
}

.bio {
    padding: 10px;
    margin-top: 100px;
    display: flex;
}

.bio img {
    max-height: 500px;
    border-radius: 250px;
    margin-left: 2pc;
}

.biography {
    margin-top: 100px;
    margin-left: 100px;
    color: white;
    font-family: monospace;
}

.contact {
    margin-top: 100px;
    margin-left: 100px;
    color: white;
    font-family: monospace;
    line-height: 4pc;
    font-size: 20px;
}

.biography h3 {
    font-size: 20px;
    text-align: center;
    font-family: monospace;
    text-decoration: underline;
}

#projects {
    margin-top: 120px;
    margin-left: 200px;
}


#projects h3 {
    text-align: center;
    background-color: rgba(235, 235, 235, 0.815);
    width: 700px;
    padding: 40px;
    font-size: 30px;
    font-family: monospace;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

}

#projects li {
    font-size: 20px;
    margin-top: 50px;
    line-height: 5pc;
    color: white;
    text-decoration: underline;
}

#projects p {
    color: white;
    font-size: 14px;
}

#projects img {
    max-width: 900px;
    margin-top: 20px;
}

footer {
    margin-top: 10pc;
    background-color:  rgba(235, 235, 235, 0.815);
    border-radius: 10px;
    padding: 5px;
}

footer li {
    font-family: monospace;
    display: inline;
    background-color: black;
    border-radius: 10px;
    box-shadow: 1px 2px;
    padding: 5px;
    margin: 2px;
    cursor: pointer;


}

footer a {
    color: white;
    text-decoration: none;
    transition: font-size 100ms ease-in 50ms;


}

footer a:link {
    color: white;
}

footer a:hover {
    color: red;
}

footer a:active {
    font-size: smaller;
}
